/*Formatações*/

body {
    font-size: 1em;
    font-family: Calibri;
    background: #FFF;
}

h1 {
    font-size: 70px;
    text-align: center;
}

.clear {
    clear: both;
}

.titulos {
    margin-top: 100px;
    text-align: center;
    font-family: Segoe UI;
    font-size: 48px;
}

#subtitulo {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 20px;
    color: #999999;
    font-family: Arial;
}

.subtexto {
    color: #999999;
    font-family: Arial;
}

.descricao {
    background-color: #FFF;
    padding: 80px;
    width: 280px;
    margin: 0px px 0px 260px;
    float: left;
    text-align: center;
}

.servicoesquerda {
    text-align: left;
    margin: 160px 85px;
    float: left;
    width: 400px;
    margin-left: 20px;
}

.servicodireita {
    text-align: right;
    float: right;
    margin-top: 170px;
    margin-right: 20px;
}

.background-branco {
    background-color: white;
}

.branco {
    color: white;
}

.icone {
    color: #A7FBD3;
    font-size: 50px;
    margin-bottom: 20px;
}

#principal {
    position: center;
    background-color: #FFF;
}

#homepage {
    text-align: center;
}

#img-servicos {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}

#subtitulo-servicos {
    margin-top: 50px;
    color: #999999;
    font-family: Arial;
    font-size: 28px;
    text-align: center;
}

#img-membros {
    float: right;
    padding: 20px;
    margin-right: 20px;
}

.titulomov {
    float: left;
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 28px;
}

.descricaomov {
    text-align: left;
    margin: 70px 0px;
    float: left;
    font-size: 16px;
    color: #999999;
}

.botao {
    background: #3E194D;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: #A7FBD3;
    margin-top: 50px;
}

.iconebotao {
    color: #A7FBD3;
    font-size: 50px;
    margin-bottom: 20px;
}