/*Limpar formatações padrão*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: Calibri;
    background: #FFF;
}

h1 {
    font-size: 70px;
    text-align: center;
}

.titulos {
    margin-top: 100px;
    width: 1903px;
    text-align: center;
    font-family: Segoe UI;
    font-size: 48px;
}

.clear {
    clear: both;
}

.descricao {
    background-color: #FFF;
    padding: 5px;
    width: 280px;
    margin: 0px 0px 0px 260px;
    float: left;
    text-align: center;
}

.descricao-servico-esquerda {
    text-align: left;
    margin: 170px 115px;
    float: left;
    width: 400px;
    margin-left: 260px;
}

.descricao-servico-direita {
    text-align: right;
    float: right;
    margin-top: 170px;
    margin-right: 260px;
}

.background-branco {
    background-color: white;
}

.branco {
    color: white;
}

.icone {
    color: #A7FBD3;
    font-size: 50px;
    margin-bottom: 20px;
}

.subtexto {
    color: #999999;
    font-family: Calibri;
}

#principal {
    width: 1903px;
    position: center;
    background-color: #FFF;
}

#homepage {
    text-align: center;
}

#subtitulo {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 20px;
    color: #999999;
    font-family: Calibri;
}

#img-servicos {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}

#subtitulo-servicos {
    margin-top: 200px;
    color: #999999;
    font-family: Calibri;
    font-size: 28px;
    text-align: center;
}